<div class="jumbotron">
  <div class="container">
    <h1>Sample Application</h1>
    <p>Hey, you are at Login Page. Please click "Proceed to Home Page" button to visit home page.</p>
    <p><input type="submit" class="btn btn-primary" ng-click="login();" value="Proceed to Home Page"/></p>
  </div>
</div>